# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Alex\Desktop\java doc IntelliJ IDEA plugin\AngularTourOfHeroes\AngularTourOfHeroes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
